.container {
    width: 500px;
    margin: 0 auto;
    font-family: Arial;
}

.item {
    height: 30px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
}

.item:first-child {
    margin-top: 0;
}

.item .remove {
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.item .remove:after {
    content: 'x';
}